* {
    border: 1px dotted lightskyblue;
    padding: 1em;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}


:root {
 /* CSS HEX */
--pacific-blue: #2ab7caff;
--orange-yellow-crayola: #fed766ff;
--gainsboro: #e6e6eaff;
--davys-grey: #50514fff;
--fire-opal: #f25f5cff;
}

img {
    height: 10vh;
    background-color: var(--pacific-blue);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.section-header {
    text-align: center;
    font-weight: bold;
    color: royalblue;
    border: 1px solid lightskyblue;
    border-radius: .5rem;
}

.fish-card {
    display: flex;
    align-items: center;
    border: 1px solid silver;
}

.fish-img {
    width: 10vw;
    height: 40vh;
}

.stat-grid {
    display: inline-block;
    /* justify-content: center; */
    /* align-items: right; */
    width: 40vw;
}

.personal-quote {
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
}

.location-card {
    width: 25vw;
    height: 40vh;
    background-color: whitesmoke;
}

.location-card img {
    width: 70%;
    height: 40%;
}